* {
    font-family: Helvetica, sans-serif;
}
h1,
h2 {
    background-color: lightblue;
    color: rgb(11, 11, 78);
}
ul {
    background-color: lightgoldenrodyellow;
    color: rgb(11, 11, 78);
}
ol {
    background-color: lightgoldenrodyellow;
    color: rgb(11, 11, 78);
}
img {
    width: 500px;
    height: auto;
}
.description {
    background-color: lightgreen;
    color: rgb(0, 48, 0);
}